body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(135deg,#0f172a,#1e293b);
  color: white;
  padding: 20px;
}

.container {
  max-width: 900px;
  margin: auto;
}

h1, h3 {
  margin-top: 20px;
}

select, input {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 8px;
  border: none;
}

button {
  padding: 8px 12px;
  margin: 5px 5px 10px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.generate {
  background: #22c55e;
  width: 100%;
  font-size: 16px;
}

.item {
  background: #1e293b;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.item button {
  margin-top: 5px;
}
