body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(135deg,#0f172a,#1e293b);
  color: white;
  padding: 20px;
}

.container {
  max-width: 900px;
  margin: auto;
}

/* INPUTS */
select, input {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 8px;
  border: none;
}

/* BUTTONS */
button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.add-btn {
  width: 100%;
  background: #3b82f6;
  color: white;
  margin-bottom: 10px;
  font-weight: bold;
}

.add-btn:hover {
  background: #2563eb;
}

.generate {
  background: #22c55e;
  width: 100%;
  font-size: 16px;
}

.generate:hover {
  background: #16a34a;
}

/* CARD ITEMS */
.item {
  background: #1e293b;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* TABLE */
table {
  background: white;
  color: black;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
}

/* WORKLOAD */
#workload {
  background: #1e293b;
  padding: 10px;
  border-radius: 8px;
}

/* PRINT MODE */
@media print {
  body * {
    visibility: hidden;
  }

  #printArea, #printArea * {
    visibility: visible;
  }

  #printArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
