body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(135deg,#0f172a,#1e293b);
  color: white;
  padding: 20px;
}

.container {
  max-width: 900px;
  margin: auto;
}

select, input {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.add-btn {
  width: 100%;
  background: #3b82f6;
  color: white;
  margin-bottom: 10px;
}

.generate {
  background: #22c55e;
  width: 100%;
}

.item {
  background: #1e293b;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

table {
  background: white;
  color: black;
}

@media print {
  body * {
    visibility: hidden;
  }

  #printArea, #printArea * {
    visibility: visible;
  }

  #printArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
